# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.pytest_cache/

# User Data & Uploads
staging/
test_images/
*.jpg
*.jpeg
*.png
*.webp
*.onnx

# InsightFace / ML Models cached locally
.insightface/

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/
